<style>
    .slider-banner{
        width: 100%;
        height: 520px;
        background-size: cover;
    }


    .list-box{
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .list-box-sub{
        text-align: center;
        padding: 0 36px;
    }
    .list-box-sub-name{
        margin-top: 20px;
    }
    .list-box-sub-subname{
        font-size: 14px;
        font-size: #505050;
    }

      .plan{
        margin-top: 100px;
        background-color: #f8f8f8;
    }
    .plan-main{
        
    }
    .plan-name{
        text-align: center;
        width: 500px;
        margin: 0 auto;
    }
    .planthe{
        font-family: Satisfy, cursive;
        color: #3fd0d4;
        font-size: 24px;
    }
    .plan-hed{
        font-weight: 700;
        margin-top: 5px;
        font-size: 56px;
    }
    .plan-sub{
        color: #505050;
        font-size: 16px;
        margin-top: 10px;
        display: block;
    }
    .plan-tour{
        margin-top: 100px;  
        display: flex;  
        flex-wrap: wrap;

    }
    .plan-tour-main{
        width: 300px;
        background-color: #fff;
        box-shadow: 5px 8px 13.92px 2.08px rgba(0,0,0,.05);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin: 20px 10px 0 10px;
    }
    .plan-tour-main-img{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width: 300px;
        height: 180px;
    }
    .plan-tour-main-title{
        padding: 25px 30px;
    }
    .plan-tour-main-hed{
        margin: 0;
        font-weight: 700;
    }
    .plan-tour-main-sub{
        margin-top: 15px;
        display: block;
        color: #505050;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
        
    }
    .plan-tour-main-action{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        font-weight: 700;
        font-size: 12px;
    }
    .plan-tour-main-action-link{
        text-decoration: none;
        margin-right: 10px;
        color: #3fd0d4;
    }
     .bar{
        height: 40px;
        width: 300px;
        background-color: #3fd0d4;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding:0 12px;
        font-weight: 600;
    }


    .blog{
        margin-top: 100px;
        display: flex;
    }
    .blog-main{
        margin-right: 80px;
    }
    .blog-hed{
        font-size: 46px;
        font-weight: 700;
    }
    .blog-sub{
        font-size: 18px;
        color: #505050;
        margin-top: 10px;
        display: block;
    }
    .blog-list{
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 70px;
    }
    .blog-item{
        display: flex;
    }
    .blog-item-img{
        width: 140px;
        height: 140px;
    }
    .blog-item-title{
        padding: 0 28px;
    }
    .blog-item-hed{
        font-weight: 700;
        text-decoration: none;
        color: #000;
        font-size: 22px;
    }
    .blog-item-hed:hover{
        color: #3fd0d4;
    }
    .blog-item-sub{
        color: #505050;
        margin-top: 15px;
        display: block;
    }
    .blog-item-action{
        margin-top: 20px;
        display: flex;
        font-weight: 600;
    }
    .blog-item-action-year{
        padding-right: 40px;
    }
    .blog-sale{
        margin-top: 40px;

    }
    .blog-sale-img{
        width: 380px;
        height: 480px;
    }

</style>

<main class="">
    <div class="slider">
        <img class="slider-banner" src="	https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-title-img-1.jpg" alt="">
    </div>
     <div class="list-box container">
          <div class="list-box-sub">
             <img src="	https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/h1-custom-icon-img-1.png" alt="" class="list-box-sub-img" >
              <h5 class="list-box-sub-name">Chụp ảnh</h5>
              <span class="list-box-sub-subname">Chúng tôi sẽ cho bạn trải nghiệm dịch vụ tốt nhất</span>
          </div>
            <div class="list-box-sub">
             <img src="	https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/h1-custom-icon-img-2.png" alt="" class="list-box-sub-img" >
              <h5 class="list-box-sub-name">Địa điểm</h5>
              <span class="list-box-sub-subname">Chúng tôi sẽ cho bạn trải nghiệm dịch vụ tốt nhất</span>
          </div>
            <div class="list-box-sub">
             <img src="	https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/h1-custom-icon-img-3.png" alt="" class="list-box-sub-img" >
              <h5 class="list-box-sub-name">Khách sạn</h5>
              <span class="list-box-sub-subname">Chúng tôi sẽ cho bạn trải nghiệm dịch vụ tốt nhất</span>
          </div>
            <div class="list-box-sub">
             <img src="		https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/h1-custom-icon-img-4.png" alt="" class="list-box-sub-img" >
              <h5 class="list-box-sub-name">Du lịch</h5>
              <span class="list-box-sub-subname">Chúng tôi sẽ cho bạn trải nghiệm dịch vụ tốt nhất</span>
          </div>
     </div>

     <div class="plan">
        <div class="plan-main container">
        <div class="plan-name">
        <span class="planthe">Lập Kế Hoạch</span>
        <h1 class="plan-hed">Kì nghỉ Hoàn Hảo</h1>
        <span class="plan-sub">Điều quan trọng là phải có một dịch vụ khách hàng tốt, một nhà cung cấp dịch vụ khách hàng. Đó có phải là một điều tốt mà nỗi đau cần? Khối hoa nhài. Với các đối tác</span>
        </div>
        <div class="plan-tour">
             {{#each posts}}
            <div class="plan-tour-main">
                <img src="{{image}}" alt="" class="plan-tour-main-img" >
                <div class="bar">
                    <div class="bar-calendar">
                        <i class="calendar-icon"></i>
                        <span class="calendar-tilte">1</span>
                    </div>
                       <div class="bar-people">
                        <i class="calendar-icon"></i>
                        <span class="calendar-tilte">13+</span>
                    </div>
                       <div class="bar-address">
                        <i class="calendar-icon"></i>
                        <span class="calendar-tilte">skiing</span>
                    </div>
                </div>
                <div class="plan-tour-main-title">
                <h3 class="plan-tour-main-hed">{{title}}</h3>
                <span class="plan-tour-main-sub">{{content}} </span>
                <div class="plan-tour-main-action">
                    <a href="/posts/{{_id}}" class="plan-tour-main-action-price plan-tour-main-action-link">Xem thêm...</a>
                    <span class="plan-tour-main-action-price">{{author}}</span>
                </div>
                </div>
            </div> 
    {{/each}}    
            
        </div>
        

        </div>
     </div>

     <div class="blog container">
        <div class="blog-main">
        <h2 class="blog-hed">Blog của chúng tôi</h2>
        <span class="blog-sub">Điều quan trọng là phải có một dịch vụ khách hàng tốt, một nhà cung cấp dịch vụ khách hàng. Đó có phải là một điều tốt mà nỗi đau cần? Khối hoa nhài. Với các đối tác</span>
        <ul class="blog-list">
            <li class="blog-item">
                <img class="blog-item-img" src="	https://setsail.qodeinteractive.com/wp-content/uploads/2016/09/blog-img-12.jpg" alt="">
                <div class="blog-item-title">
                <a href="" class="blog-item-hed">Chuyến tham quan tuyệt vời</a>
                <span class="blog-item-sub">Lắng nghe để tìm thấy sức mạnh của niềm đam mê. Hay tôi nói điều đó và những điều tương tự, rằng họ có thể</span>
                <div class="blog-item-action">
                    <span class="blog-item-action-year">Tháng 11, 2024</span>
                    <div class="blog-item-action-cmt">
                        <i class="blog-item-action-cmt-icon"></i>
                        <span class="blog-item-action-cmt-span">Bình luận</span>
                    </div>
                </div>
                </div>
            </li>
        </ul>
        <ul class="blog-list">
            <li class="blog-item">
                <img class="blog-item-img" src="	https://setsail.qodeinteractive.com/wp-content/uploads/2016/09/blog-img-13.jpg" alt="">
                <div class="blog-item-title">
                <a href="" class="blog-item-hed">Chuyến tham quan tuyệt vời</a>
                <span class="blog-item-sub">Lắng nghe để tìm thấy sức mạnh của niềm đam mê. Hay tôi nói điều đó và những điều tương tự, rằng họ có thể</span>
                <div class="blog-item-action">
                    <span class="blog-item-action-year">Tháng 11, 2024</span>
                    <div class="blog-item-action-cmt">
                        <i class="blog-item-action-cmt-icon"></i>
                        <span class="blog-item-action-cmt-span">Bình luận</span>
                    </div>
                </div>
                </div>
            </li>
        </ul>
        </div>
        <div class="blog-sale">
            <img class="blog-sale-img" src="	https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/h1-banner-img-1.jpg" alt="">
        </div>
     </div>
</main>


